main {
    display: flex;
    justify-content: center;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
    height: 50px;
    text-align: center;
}

th {
    padding: 40px;
    font-weight: lighter;
}

#conteudo {
    padding: 150px 90px;
}